
.chat-message-profile{
    width: 45px;
}

.chat-message-container-user,.chat-message-container-robot{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat-message-container-user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.chat-message-time{
    font-size: 11px;
    color: grey;
    padding: 0 5px;
    display: block;
    margin-top: 2px;
}

.chat-message-container-user .chat-message-time{
    text-align: right;
}