.chatbot-container{
    font-family: Arial;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    
    height: 100vh;
}

.chat-message-container{
    margin-top: 20px;
    flex-grow: 1;
    overflow: scroll;
    scrollbar-width: none;  
}

.welcome-message{
    text-align: center;
    margin-top: 200px;
}

.welcome-message h2{
    margin-bottom: 10px;
}

.welcome-message p{
    color: grey;
}

